body {
    text-align: center;
    background: rgba(0, 0, 0, .9);
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.title {
    background: rgb(66, 117, 183);
    color: white;
}

.buttons {
    background: white;
    margin-bottom: 50px;
}

#hint {
    text-transform: none;
}


.container-fluid {
    border: 1px solid rgba(0, 0, 0, .1);
}

.tile {
    /*max-width: 20em;*/
    /*min-width: 10em;*/
    /*max-height: 20em;*/
    /*min-height: 10em;*/
    width: 150px;
    height: 150px;
    float: none;
    background: rgba(0, 0, 0, 0);
    display: inline-block;
    border-radius: 20px;
    border: none;
    transition: .5s ease;
}

button {
    outline: none;
    border: none;
}

.btn-control {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgb(66, 117, 183);
    text-transform: uppercase;
    transition: .5s ease;
}

.btn-control:hover {
    background: rgb(66, 117, 183);
    color: white;
}

.btn-active {
    background: rgb(66, 117, 183);
    color: white;
}

.container, .container-fluid {
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    transition: .5s ease;
}

#hint {
    margin: 0;
    padding-top: 0;
    /*font-family: "Roboto", sans-serif;*/
    font-weight: 400;
    font-size: 16px;
    letter-spacing: none;
}

h1 {
    font-family: 'Quantico', sans-serif;
    font-size: 4em;
    font-weight: 900;
}

h3 {
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 2.5em;
    font-weight: 400;
}

